$main-color: #0068b7;

$header-font-color: white;
$header-background-color: #011627;

$sidebar-background-color: #011627;
$sidebar-background-color--selected: lighten(#011627, 12%);
$sidebar-background-color--hover: lighten(#011627, 10%);
$sidebar-background-color--related: darken(#1D84B5, 5%);
$sidebar-background-color--selected-sub-item: $sidebar-background-color--selected;

$sidebar-border-color--selected: #F3EFF5;
$sidebar-border-color--hover: #F3EFF5;

$navbar-background-color: $main-color;

$border-color: #2c404c;

// TASK's EVENT PRIORITY SETTINGS 
$event-priotiry-high-color: #E55934;
$event-priotiry-normal-color: #FDE74C;
$event-priotiry-low-color: #5BC0EB;

// Descriptive Colors
$white: #ffffff;
$blue: black;
$red: #dc143c;
$grey: #bbbbbb;
$light-grey: #eeeeee;

// Functional Colors
$primary--color: $blue;
$secondary--color: $white;