$main-color: #011627;

$header-font-color: white;
$header-background-color: $main-color;

$sidebar-background-color: $main-color;
$sidebar-background-color--selected: lighten($main-color, 12%);
$sidebar-background-color--hover: lighten($main-color, 10%);
$sidebar-background-color--related: darken(#1D84B5, 5%);
$sidebar-background-color--selected-sub-item: $sidebar-background-color--selected;

$sidebar-border-color--selected: #F3EFF5;
$sidebar-border-color--hover: #F3EFF5;

$app-success-color: #59CD90;
$app-error-color: #F25757;
$app-info-color: #2191FB;
$app-warning-color: #FDCA40;

$navbar-background-color: $main-color;

$login-page-background-color: $main-color;

$border-color: #2c404c;

// Descriptive Colors
$white: #ffffff;
$blue: black;
$red: #dc143c;
$grey: #bbbbbb;
$light-grey: #eeeeee;

// Functional Colors
$primary--color: $blue;
$secondary--color: $white;