@import "variables/color";
@import "base/mixins";

:host(app-header) {
  nz-header {
    background: $header-background-color;
    color: $header-font-color;
  
    .sidebar-trigger {
      color: $header-font-color;
    }
  }

  .app-name {
    cursor: pointer;
  }


  .ant-layout-header {
    height: 50px !important;
    line-height: 50px !important;
    padding: 0 15px !important;
  }
}