<mat-progress-bar [color]="'primary'" [mode]="progressBarMode">
</mat-progress-bar>
<nz-header>

    <div class="content" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start center" fxFlexFill>
        <div fxFlex="70" fxLayout="row" fxLayoutAlign="start center" class="sec1">
            <i class="anticon sidebar-trigger anticon-menu-fold"></i>
            <span class="mx-4 app-name" (click)="gotoHomePage()">{{appName}}</span>
            <app-navigator></app-navigator>
        </div>
        <div fxFlex="30" class="text-right">
            <button class="user-btn" [matMenuTriggerFor]="matmenu">
                {{currentUser?.name}}
            </button>
            <mat-menu #matmenu="matMenu" [overlapTrigger]="false">
                <button mat-menu-item *ngFor="let setting of appConfig.userSetting" (click)="handleUserSetting(setting)">
                    {{setting.feature | translate}}
                </button>
            </mat-menu>
        </div>
    </div>
</nz-header>