@import "variables/color";
ul, li {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
    width: 100%;
    height: 100%;
}
li {
    float: left;
    position: relative;
    width:auto;
}

.menu-main {
    width: 100px;
    text-align: center;
}

.submenu {
    left: 0;
    opacity: 0;
    position: absolute;
    top: 3rem;
    visibility: hidden;
    z-index: 1;
    background: $sidebar-background-color--related;
}
li:hover ul.submenu {
    opacity: 1;
    top: 3rem;
    transition: 0.5s;
    visibility: visible;
}
.submenu li {
    float: none;
    width: 100%;
}

.nav-content {
    color: white;
    cursor: pointer;
}

.nav-sub-item {
    background-color: $sidebar-background-color;
    min-width: 120px;
    max-width: 250px;
    height: 35px;
    line-height: 35px;
    font-size: 12px;
    padding-left: 10px;

    &:hover {
        background-color: $sidebar-background-color--hover;
    }
}

.nav-sub-item--selected {
    background-color: $sidebar-background-color--selected-sub-item;
}

.nav-sub-item--selected {
    background-color: $sidebar-background-color--selected;
}

.nav-main-item {
    width: 100px;
    margin-top: 2px;
    height: calc(3rem - 2px);
    line-height: calc(3rem - 2px);
    text-align: center;
    outline: none;
    border: none;

    &:hover {
        background-color: $sidebar-background-color--hover;
    }
}

.nav-main-item--selected {
    background-color: $sidebar-background-color--selected;
    font-weight: bold;
}

.nav-item--selected-sub-item {
    background-color: $sidebar-background-color--selected;
    text-decoration: underline;
    font-weight: bold;
}